<ion-list padding-bottom>
  <ion-list-header *ngIf="incomes && incomes.length > 0 && itemsListHeader?.length > 0">
    {{itemsListHeader}}
  </ion-list-header>
  <cost-position-input *ngFor="let income of incomes; let i = index"
                       [(ngModel)]="income"
                       [mode]="editMode"
                       (ngModelChange)="modelChange()"
                       (buttonClick)="removeItem(i)">
  </cost-position-input>
  <cost-position-input class="ion-margin-top" [namePlaceHolder]="newItemPlaceholder" (buttonClick)="onItemAdded($event)"></cost-position-input>
</ion-list>
