ion-card-subtitle.expense-group-title {
  text-align: start;
  flex: 1 auto;
}

ion-fab-button.expense-group-delete {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

cost-position-input > * > div.item-inner {
  margin-right: 20px !important;
}
