<ion-content>
    <wizard (onFinish)="onFinish()" [title]="title" (onValidationFailed)="onValidationFailed($event)">
        <wizard-page title="Wybierz okres rozliczeniowy" [canGoNext]="!!(budget.startDate && budget.endDate)" [validate]="isPeriodValid()">
            <budget-setup-period [(startDate)]="budget.startDate" [(endDate)]="budget.endDate"></budget-setup-period>
        </wizard-page>
        <wizard-page title="Zaplanuj przychody">
            <budget-income-categories [incomes]="budget.incomes" (itemsChanged)="onIncomesChanged($event)"></budget-income-categories>
        </wizard-page>
        <wizard-page title="Zaplanuj wydatki">
            <budget-expense-categories [incomes]="budget.incomes"></budget-expense-categories>
        </wizard-page>
    </wizard>
</ion-content>
