<ion-content padding>
  <ion-stepper #stepper>
    <ion-step label="Step1" description="Step 1 description">
      <h2>Step1 Content</h2>
      <p>Step1 Content</p>
      <ion-button size="small" color="light" ionicStepperNext>Next</ion-button>
    </ion-step>
    <ion-step label="Step2 - Step2 - Step2"
              description="Step1 description">
      <h2>Step2 Content</h2>
      <p>Step2 Content</p>
      <ion-button size="small" color="light" ionicStepperPrevious>Previous</ion-button>
    </ion-step>
  </ion-stepper>
</ion-content>
